html {
  box-sizing: border-box;
}

html{
}

*,
*::after,
*::before{

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  background: #000000;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

header {
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.a_none {
    line-height: 0; 
    font-size: 0;
    color: transparent;
}

a img {
  user-select: none;
}

.screen_flex_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vid_placeholder {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
}

.vid_container {
  display: flex;
  justify-content: center;
  position: fixed;
}

.video-background {
  width: 25%;
}

.video-background video {
    z-index: -1;
    width: 100%;
}

.kvity_container {
  margin-top: 60px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.kvity_flex img {
  width: 100%;
}

.kvity_flex {
  width: 30%;
}

.sound_container {
  display: flex;
  justify-content: center;
}

#sound-toggle {
  background-color: black;
  border: none;
  display: none;
}

.footer_container {
  z-index: 10;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: end;
}

#footer_notes_container {
  margin-bottom: 30px;
}

.footer_flex img {
  width: 100%;
}

.footer_flex {
  width: 20%;
}

.cursor_switch:hover {
  cursor: url('../cursor/blue_size56.png') 16 16, auto;
}