html {
  box-sizing: border-box;
}

html{
}

*,
*::after,
*::before{

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  background: #000000;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

header {
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.a_none {
    line-height: 0; 
    font-size: 0;
    color: transparent;
}

a img {
  user-select: none;
}

        @font-face {
            font-family: 'Arial';
            src: url('../font/Arial.woff2') format('woff2');
        }

p {
  font-family: Arial;
  color: white;
  user-select: none;
}

#mob_container {
  display: none;
}

.product_container_container {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.product_container {
  display: flex;
  justify-content: space-between;
  width: 96%;
}

.photo_container img {
  width: 100%;
}

.photo_container {
  width: 47%;
  flex-direction: column;
}

.info_container_container {
  width: 47%;
}

.checkout_container {
  display: flex;
  flex-direction: column;
}

.info_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: start;
  aspect-ratio: 728 / 548;
  width: 100%;
}

.info_flex_title {
  width: 100%%;
}

.info_flex_title img {
  width: 100%;
}

.info_flex {
  
}

.info_flex p {
  width: 100%;
  font-size: 20px;
}

.info_flex_link img {
  width: 100%;
}

.info_flex_ui {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

#quote_flex {
  display: flex;
  justify-content: end;
}

#info_flex_ui {
  width: 40%;
}

.margin_flex {
  margin-bottom: 20px;
}

#big_margin_flex {
  margin-bottom: 30px;
}

#big_font {
  font-size: 52px;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: end;
}

.footer_flex img {
  width: 100%;
}

.footer_flex {
  width: 20%;
}

.cursor_switch:hover {
  cursor: url('../cursor/blue_size56.png') 16 16, auto;
}

.data_form {
    background-color: #000; /* Чорний фон для сторінки */
    color: #fff; /* Білий текст */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Вертикальне вирівнювання */
}

button {
    background: none;  /* Прибирає фон кнопки */
    border: none;      /* Прибирає рамку */
    padding: 0;        /* Прибирає відступи */
    width: 100%;
}

button img {
  width: 100%;
}

#cart-items,
#total-price {
  display: none;
}

