html {
  box-sizing: border-box;
}

html{
}

*,
*::after,
*::before{

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  background: #000000;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

header {
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.a_none {
    line-height: 0; 
    font-size: 0;
    color: transparent;
}

a img {
  user-select: none;
}

        @font-face {
            font-family: 'Arial';
            src: url('../font/Arial.woff2') format('woff2');
        }

        .side_menu {
            position: fixed;
            top: 15%;
            background: none;
            padding: 20px;
            z-index: 1000; /* Меню будет поверх всех элементов */
            font-family: Arial, sans-serif;
        }

        #sideMenu {
          right: 0;
        }

        #sideMenu_shop {
          left: 0;
        }

        .side_menu a {
            user-select: none;
            font-family: Arial;
            font-size: 24px;
            color: white;
            text-decoration: none;
            display: block;
            margin: 10px 0;
        }

        .side_menu a:hover {

        }

        #price_bar {
          transition: 0.5s;
        }

        .side_menu_cart {
          padding: 0px;
          top: 85%;
        }

.instock_container {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.instock_container a {
  user-select: none;
  font-family: Arial;
  font-size: 24px;
  color: white;
  text-decoration: none;
  display: block;
  margin: 10px 0;
}

        .instock_container a:hover {
            text-decoration: underline;
        }

.shop_scroll {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  margin-left: 10%;
  margin-bottom: 60px;
}

.table_container {
  margin-top: 60px;
  width: 70%;
}

.table_holder {
  display: flex;
  justify-content: center;
}

.table_flex_link img {
  width: 100%;
}

.table_container_sm_grid {
  margin-top: 60px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;

}

.add_margin {
  margin-right: 150px;
}

.add_margin_plus {
  margin-right: 350px;
}

.table_container_big_grid {
  margin-top: 60px;
  width: 95%;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.table_flex {
  width: 100%;
  position: relative;
  display: block;
  width: 100%; /* Контейнер займатиме всю ширину */
  height: 100%; /* Контейнер займатиме всю висоту */
}

.table_flex img {
  display: block;
  width: 100%; /* Зображення розтягується */
  height: 100%;
  object-fit: cover; /* Обрізає зайві частини, щоб заповнити контейнер */
}

.table_flex a {
  display: block;
  width: 100%; /* <a> займає всю ширину контейнера */
  height: 100%; /* <a> займає всю висоту контейнера */
}

.table_flex_wide {
  width: 80%;
}

#table_flex_rand_3 {
  width: 30%;
}

#table_flex_rand_5 {
  width: 20%;
}

.gif_contain_el_img {
  opacity: 0;
}

#table_flex_zine {
  background-image: url("../../media/shop/content/zine.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

#table_flex_zine:hover {
  background-image: url("../../media/shop/content/zine_gif.gif");
  background-repeat: no-repeat;
  background-size: 85%;
  background-position: center;
}

#table_flex_tape {
  width: 25%;
  background-image: url("../../media/shop/content/tape.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

/*#table_flex_tape:hover {
  background-image: url("../../media/shop/content/zine_gif.gif");
  background-repeat: no-repeat;
  background-size: 85%;
  background-position: center;
}*/


.footer_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: end;
}

.footer_flex img {
  width: 100%;
}

.footer_flex {
  width: 20%;
}

.cursor_switch:hover {
  cursor: url('../cursor/blue_size56.png') 16 16, auto;
}

.hover-item:hover {
  cursor: url('../cursor/blue_size56.png') 16 16, auto;
}

.p_container {
  display: flex;
  justify-content: center;
  margin-top: 15%;
}

.p_flex p {
  color: white;
  font-family: arial;
  font-size: 36px;
}

.sm_img {
  width: 50%;
  height: auto;
}

.mid_img {
  width: 50%;
  height: auto;
  padding-left: 25%;
}

.donation_table p,
.donation_table a {
  color: white;
  font-family: Arial;
}

.donation_table {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.table_container_centerleft {
  margin-top: 60px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.table_flex_link {

}

#table_container_end {
  margin-bottom: 60px;
}

#table_container_end_small {
  margin-bottom: 30px;
  width: 90%;
  align-items: start;
}